body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace
}

main#main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#sidebar-section {
    background-color: #004e66;
    padding: 20px;
    width: 20%;
    align-self: flex-start;
    height: 100vh;
    position: fixed;
    margin-right: 20px;
}

img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#main-section {
    padding: 20px;
    width: 80%;
    align-self: flex-start;
    margin-left: 307px;
}

h1.picture-wrapper__name {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: #fff;
    font-family: sans-serif;
}

h3.title {
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}

.contact-details {
    color: #fff;
}

.contact-details a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
}

ul {
    padding: 0px 0px;
}

.contact-details li {
    list-style: none;
    margin: 5px 0px;
    font-size: 18px;
    line-height: 22px;
}

#main-section h2 {
    margin: 0px;
    font-size: 30px;
    line-height: 40px;
    font-family: system-ui;
    font-weight: 400;
    letter-spacing: 0px;
}

#main-section p {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0px;
}

#experience, #language {
    margin-top: 30px;
}

p.experience__company-name {
    margin-bottom: 5px !important;
    font-weight: 800;
    text-transform: capitalize;
}

p.experience__designation {
    margin: 0px !important;
}

ul.experience__job-deuties {
    margin: 5px 0px 0px 20px;
}

ul.experience__job-deuties li {
    font-size: 16px;
    line-height: 26px;
}

#experience__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#experience__wrapper p.experience__job-joining {
    font-size: 14px;
    line-height: 24px;
}


body::-webkit-scrollbar {
    width: 8px;
  }
   
  body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px #004e66; */
}

body::-webkit-scrollbar-thumb {
      border-radius: 10px;
    background-color: #004e66;
    /* outline: 1px solid #004e66; */
  }